.container {
    width: 80%;
    max-width: 900px;
    margin: 3rem auto;
    padding-bottom: 3rem;
  }
  
  #displayCardsHere {
    width: 100%;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (minmax(400px, 1fr))[auto-fit];
        grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    grid-gap: 1rem;
  }
  
  #displayCardsHere .card {
    padding: 1rem;
    padding-left: 2rem;
    color: #555;
    border: 1px solid #bbb;
    border-radius: 4px;
    position: relative;
  }